:host {
  width: 100%;
  height: 100%;
  .contenedorPerfil {
    background: darken($color: #ffffff, $amount: 0);
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    .contenedor-cabecera-perfil {
      flex: 1;
      .cabecera-perfil {
        display: flex;
        background-color: rgb(68, 68, 173);
        border-radius: 1.2rem;
        align-items: center;
        padding: 1rem;
        margin-bottom: 1.5rem;
        .volver {
          margin-right: 3rem;
          padding: 1rem;
          font-size: 2.4rem;
          border-radius: 1.2rem;
        }
        .titulo-perfil {
          font-size: 2rem;
          font-weight: 600;
          border: none;
          border-bottom: 0.1rem solid darkblue;
        }
      }
    }
    .infoPerfil {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .datos {
        display: flex;
        flex-direction: column;
        justify-content: inherit;
        .nombre-perfil {
          .titulo-nombre {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            border: none;
            border-bottom: 0.1rem solid darkblue;
            width: fit-content;
          }
          .nombre-perfil {
          }
        }

        .apellidoPerfil {
          .tituloApellido {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            border: none;
            border-bottom: 0.1rem solid darkblue;
            width: fit-content;
          }
          .apellidoPerfil {
          }
        }
        .telefonoPerfil {
          .tituloTelefono {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            border: none;
            border-bottom: 0.1rem solid darkblue;
            width: fit-content;
          }
          .telefonoPerfil {
          }
        }
        .fechaAltaPerfil {
          .tituloFechaAlta {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            border: none;
            border-bottom: 0.1rem solid darkblue;
            width: fit-content;
          }
          .fechaAltaPerfil {
          }
        }
      }
      .avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        .avatarPerfil {
          border-radius: 50%;
          max-width: 12rem;
          border: 0.2rem solid darken($color: #000000, $amount: 0);
        }
      }
    }
    .boton-facturas {
      .ver-facturas {
      }
    }
  }
}
