<main class="contenedorPerfil">
    <div class="cabecera-perfil">
        <button class="volver" (click)="volver()">Volver</button>
        <div class="titulo-perfil">Perfil</div>
    </div>



    <div class="avatarYNombre">
        <img class="avatarPerfil" [src]="perfil?.avatarURL" alt="" />
        <p class="nombrePerfil">{{ perfil?.nombre }}</p>
    </div>
    <div class="infoPerfil">
        <div class="apellidoPerfil">
            <p class="tituloApellido">Apellido</p>
            <p class="apellidoPerfil">{{ perfil?.apellidos }}</p>
        </div>
        <div class="telefonoPerfil">
            <p class="tituloTelefono">Teléfono</p>
            <p class="telefonoPerfil">{{ perfil?.telefono }}</p>
        </div>
        <div class="fechaAltaPerfil">
            <p class="tituloFechaAlta">Fecha Alta</p>
            <p class="fechaAltaPerfil">{{ perfil?.fechaDeCreacion | date }}</p>
        </div>
        <button class="ver-facturas" [routerLink]="['/perfil', usuarioId, 'facturas']">
      Ver Facturas
    </button></div>
</main>