:host {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  overflow: auto;
  padding: 3.2rem 0;
  .contenedor {
    width: 64rem;
    max-width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 28rem;
    min-height: 50rem;
  }
}
@media (max-height: 50rem) {
  :host {
    padding: 3.2rem 0;
    align-items: initial;
  }
}
