<div contenedor-crear-usuario>
  <div class="contenedor-titulo">
    <div class="contenedor-logo">
      <img
        src="../../../assets/img/portm4nkappa112x112.png"
        alt=""
        class="logo"
      />
    </div>

    <div class="titulo-pagina">Crear Usuario</div>
  </div>
  <div class="contenedor-nombre">
    <div class="nombre">
      <div class="titulo-nombre">Nombre</div>
      <div class="input-nombre"></div>
    </div>
    <div class="apellidos">
      <div class="titulo-apellidos">Apellidos</div>
      <div class="input-apellidos"></div>
    </div>
  </div>
  <div class="contenedor-telefono">
    <div class="telefono">
      <div class="titulo-telefono">Teléfono</div>
      <div class="input-telefono"></div>
    </div>
  </div>
  <div class="contenedor-avatar">
    <div class="avatar"></div>
  </div>
  <div class="contenedor-botones">
    <button class="crear-perfil">Registrarse</button>
    <button class="volver" (click)="volver()">Volver</button>
  </div>
</div>
